<section class="action" id="3reasons">
  <h2 class="action__title">3 Reasons To Purchase</h2>

  <div class="reasons-container">
    <article class="reasons reason1">
      <h3 class="reasons__title">Ut sed metus</h3>
      <p class="reasons__text">Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article class="reasons reason2">
      <h3 class="reasons__title">Curabitur ac erat</h3>
      <p class="reasons__text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="reasons reason3">
      <h3 class="reasons__title">Morbi dictum</h3>
      <p class="reasons__text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>

  <div class="action__button"><a class="action__button--link" href="http://adalab.es" target="_blank" alt="More reasons" title="More reasons">More reasons</a></div>




  </div>
</section>