<footer class="footer">
  <aside>
    <ul class="footer__aside">
      <li class="footer__aside--related">
        <a class="footer__aside--link" href="http://adalab.es/" alt="Articles" title="Articles" target="_blank">Articles</a>
      </li>
      <li class="footer__aside--related">
        <a class="footer__aside--link" href="http://adalab.es/" alt="Books" title="Books" target="_blank">Books</a>
      </li>
      <li class="footer__aside--related">
        <a class="footer__aside--link" href="http://adalab.es/" alt="Events" title="Events" target="_blank">Events</a>
      </li>
      <li class="footer__aside--related">
        <a class="footer__aside--link" href="http://adalab.es/" alt="Reasons" title="Reasons" target="_blank">Reasons</a>
      </li>
      <li class="footer__aside--related">
        <a class="footer__aside--link" href="http://adalab.es/" alt="Tips" title="Tips" target="_blank">Tips</a>
      </li>
    </ul>
  </aside>

  <nav>
    <ul class="footer__social">
      <li class="footer__social--rrss"><a class="footer__social--link" href="http://adalab.es/" alt="Twitter" title="Twitter" target="_blank">Twitter</a></li>
      <li class="footer__social--rrss"><a class="footer__social--link" href="http://adalab.es/" alt="Instagram" title="Instagram" target="_blank">Instagram</a></li>
      <li class="footer__social--rrss"><a class="footer__social--link" href="http://adalab.es/" alt="Mastodon" title="Mastodon.social" target="_blank">Mastodon.social</a></li>
    </ul>
  </nav>

  <section class="footer__copy">
    <small class="footer__copy--right">&copy2021</small>
    <small class="footer__copy--claim">we <span class="footer__copy--heart">&#x2764;</span> components</small>
  </section>

</footer>