@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media all and (min-width: 1280px) {
    @content;
  }
}

.wrapper {
  margin: 0 15px;
  @include tablet {
    margin: 0 39px;
  }
  @include desktop {
    max-width: 730px;
  }
}
