/* .circle-scroll {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
}*/

.scroll-down__link {
  display: block;
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50%;
  color: $orange;
  line-height: 50px;
  &:hover {
    background-color: $burger-background-color;
    transform: scale(1.2);
    transition: all 0.3s ease 0.1s;
  }
}
