.scroll-button {
  height: 45px;
  width: 45px;
  position: relative;
  background-color: $white;
  border-radius: 50%;
  line-height: 50px;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.48);
  transition: all 0.5s ease 0.1s;
  &:hover {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
  &__link {
    display: block;
  }
}

.up {
  top: -20px;
  margin: 0 auto;
  animation: updown 0.8s infinite alternate;
}

@keyframes updown {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(15px);
  }
}
