.scroll-button {
  display: inline-block; /*El superior está centrado por el Flex del hero, Centra al inferior*/
  height: 45px;
  width: 45px;
  background-color: $white;
  border-radius: 50%;
  line-height: 50px;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.48);
  &:hover {
    background-color: $burger-background-color;
    transform: scale(1.2);
    transition: all 0.3s ease 0.1s;
  }
}
