$main-font: "Roboto", sans-serif;
$second-font: "Roboto Slab", serif;
$burger-background-color: #0271bc;
$orange: #f26002;
$blue-title: #8ccbea;
$brown-text: #4a4a4a;
$light-blue-background: #eff9ff;
$dark-blue-background: #304268;
