.hero {
  width: 100vw;
  height: 100vh;
  padding-bottom: 55px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  &__title {
    color: white;
    font-family: $second-font;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 100vw;
    @include tablet {
      font-size: 80px;
    }
    @include desktop {
      font-size: 100px;
    }
  }
  &__claim {
    color: white;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 45px;
    @include tablet {
      font-size: 24px;
    }
  }
}

.looking {
  width: 100vw;
  height: 376px;
  padding-top: 30px;
  padding-right: 25px;
  text-align: left;
  @include tablet {
    min-height: 330px;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  @include desktop {
    max-height: 360px;
    max-width: 730px;
    margin: 0 auto;
  }
  &__subtitle {
    padding-bottom: 5px;
    font-family: $main-font;
    font-size: 14px;
    color: $blue-title;
    font-weight: normal;
    @include tablet {
      padding-bottom: 15px;
    }
    @include desktop {
      font-size: 16px;
    }
  }
  &__title {
    max-width: 290px;
    padding-bottom: 15px;
    font-family: $second-font;
    color: $black;
    font-size: 24px;
    font-weight: bold;
    @include tablet {
      max-width: 100%;
      padding-top: 10px;
      padding-bottom: 25px;
      font-size: 26px;
    }
    @include desktop {
      font-size: 32px;
    }
  }
  &__text {
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: $main-font;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
    color: $brown-text;
    font-size: 18px;
    @include desktop {
      font-size: 20px;
    }
  }
  &__link {
    display: block;
    height: 45px;
    width: 76px;
    background-color: transparent;
    border-radius: 22.5px;
    color: $orange;
    font-family: $main-font;
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    border: 2px $orange solid;
    transition: all 0.5s ease 0.1s;
    @include tablet {
      width: 91px;
    }
    @include desktop {
      width: 160px;
    }
    &:hover {
      background-color: $orange;
      color: white;
      transform: scale(1.1);
      -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.48);
      box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.48);
    }
  }
}
