.footer {
  background-color: $dark-blue-background;
  width: 100vw;
  height: 100%;
  padding-bottom: 45px;
  color: $white;
  font-family: $main-font;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  text-align: center;
  &__info {
    width: 100vw;
    margin: 0 auto;
    font-size: 16px;
    @include tablet {
      width: 90%;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 60px;
      align-items: baseline;
    }
    @include desktop {
      width: 100%;
    }
  }
  &__aside,
  &__social {
    padding-bottom: 30px;
    &--related,
    &--rrss {
      padding: 5px;
    }
    &--link {
      color: white;
      text-transform: uppercase;
      &:hover {
        color: $orange;
      }
    }
  }
  &__copy {
    height: 40px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--heart {
      color: $orange;
    }
    @include tablet {
      order: -10;
    }
  }
}

.scroll-button.up {
  position: relative;
  top: -20px;
  margin: 0 auto;
}
