.footer {
  background-color: $dark-blue-background;
  height: 100%;
  width: 100%;
  padding-bottom: 45px;
  color: white;
  font-family: $main-font;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
  &__aside,
  &__social {
    padding-bottom: 30px;
    &--related,
    &--rrss {
      padding: 5px;
    }
    &--link {
      color: white;
      text-transform: uppercase;
      &:hover {
        color: $orange;
      }
    }
  }
  &__copy {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--heart {
      color: $orange;
    }
  }
}

.scroll-button.up {
  position: relative;
  margin: 0 auto;
  top: -20px;
}
