.burger-ico {
  background-color: $burger-background-color;
  width: 44px;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  &__link {
    line-height: 44px;
    padding-left: 14px;
    display: block;
  }
}
